@import url(/src/fonts/fonts.css);

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(230, 17%, 14%);
  color: white;
  font-family: Inter, sans-serif;
}

.content {
  width: 1120px;
  margin: 0 auto;
}

.primary-cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.primary-cards .card {
  width: 253px;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  background-color: hsl(228, 28%, 20%);
  margin-top: 50px;
}

.supporting-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.supporting-cards .card {
  width: 253px;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  background-color: hsl(228, 28%, 20%);
}

h1 {
  font-size: 25px;
  margin-top: 30px;
}

h2 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.total {
  color: hsl(228, 34%, 66%);
  font-weight: bold;
  margin-top: 5px;
}

.primary-cards article.card.service-facebook {
  border-top: 5px solid hsl(208, 92%, 53%);
}

.primary-cards article.card.service-twitter {
    border-top: 5px solid hsl(203, 89%, 53%);
}

.primary-cards article.card.service-instagram {
  border-top: solid;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, hsl(37, 97%, 70%) 50%, hsl(329, 70%, 58%) 100%);
  border-image-slice: 1;
}

.primary-cards article.card.service-youtube {
    border-top: 5px solid hsl(348, 97%, 39%);
}

.primary-cards .card-label {
  color: hsl(228, 34%, 66%);
  text-transform: uppercase;
}

.card-label {
  color: hsl(228, 34%, 66%);
}

.primary-cards .card-user {
  color: hsl(228, 34%, 66%);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.primary-cards p.card-number {
  font-weight: bold;
  font-size:50px;
  margin-top: 10px;
}

.primary-cards div.card-metric.is-up {
  color:hsl(163, 72%, 41%);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.primary-cards div.card-metric.is-down {
  color:hsl(356, 69%, 56%);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.supporting-cards div.card-metric.is-up {
  color:hsl(163, 72%, 41%);
  font-weight: bold;
  font-size: 12px;
  margin-top: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.supporting-cards div.card-metric.is-down {
  color:hsl(356, 69%, 56%);
  font-weight: bold;
  font-size: 12px;
  margin-top: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.supporting-cards .card-main {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  gap:40px;
}

.supporting-cards .card-metric {
  margin-left: 170px;
}

.supporting-cards .card img {
  float: right;
}

.supporting-cards .card-label {
  font-weight: 700;
}

.supporting-cards p.card-number {
  font-weight: bold;
  font-size:30px;
}



